@media (min-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 25px;
        max-width: 1100px;
        grid-template-rows: repeat(2, 1fr);
        border: 3px solid red;
        /* SUA PARTE */
    }

    .card1 { 
        grid-column: 1 / 2;
        grid-row: 1;
    }
    .card2 {
        grid-column: 3;
        grid-row: 1;
    }
    .card3 { 
        grid-column: 4;
        grid-row: 1 / 2;
    }
    .card4 { 
        grid-column: 1;
        grid-row: 2;
    }
    .card5 { 
        grid-column: 2 / 3;
        grid-row: 2;
    }
}